# App artifacts
/_build
/db
/deps
/*.ez

# Generated on crash by the VM
erl_crash.dump

# Generated on crash by NPM
npm-debug.log

# Static artifacts
/frontend/user/node_modules
/frontend/authorities/node_modules
/frontend/tourism/node_modules
/frontend/business/node_modules
