# App artifacts
/_build
/db
/deps
/*.ez

# Generated on crash by the VM
erl_crash.dump

# Ignore ElixirLS artifacts
/.elixir_ls

# Ignore vscode artifacts
/.vscode

# Static artifacts
/lib/layertwo_frontend/user/node_modules
/lib/layertwo_frontend/authorities/node_modules
/lib/layertwo_frontend/tourism/node_modules
/lib/layertwo_frontend/business/node_modules

# Fake Cert Ignore
/priv/ssl/fake_cert.crt
/priv/ssl/fake_cert.key
