<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Layer Two">
    <meta name="author" content="Dimitar Yosifov">
<%= tag :meta, name: 'entity_token', content: @entity_token %>
    <title>Layer Two</title>
    <link href="favicon.ico" rel="shortcut icon">
    <style>
      * {
        margin: 0px;
        padding: 0px;
        letter-spacing: 0.03em;
        }
        
      html {
        font-family: arial, sans-serif;
        height: 100%;
        }

      body {
          height: 100%;
        }

      main {
          height: 100%;
        }
        
      .input_fields {
        width: 15.3em;
        font-family: arial, sans-serif;
        font-size: calc(8px + 0.7vw);
        padding-left: 0.3em;
        margin-top: 0.5vh;
        margin-bottom: 0.5vh;
        }
          
      #main_container {
        display: flex;
        flex-direction: column;
        height: 100vh;
        }
            
      #login_form_container {
        display: flex;
        flex-grow: 1;
        }
        
      #login_form {
        flex-grow: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;
        }
        
      #login_form_fields {
        margin-top: 0.3em;
        }
        
      #logo_text {
        font-size: calc(8px + 2.5vw);
        padding-bottom: 0.05em;
        }
      
      #layer_two_logo {
        width: 0.8em;
        height: 0.8em;
        padding-right: 0.15em;
        }
      
      #submit_button {
        margin-top: 0.4em;
        font-family: arial, sans-serif;
        color: black;
        font-size: calc(8px + 0.7vw);
        background: white;
        box-shadow: 0 0 1px 0px;
        border-style: none;
        padding-left: 0.9em;
        padding-right: 0.9em;
        padding-top: 0.2em;
        padding-bottom: 0.15em;
        transition: background 0.3s;
        }
      #submit_button:hover {
        cursor: pointer;
        color: white;
        background: DeepSkyBlue;
        border-color: DeepSkyBlue;
        }
      
      #copyright_container {
        text-align: center;
        }
        
      #copyright_text {
        font-size: calc(8px + 0.5vw);
        }
        
    </style>
  </head>

  <body>
      <main role="main">
        <%= render view_module(@conn), view_template(@conn), assigns %>
      </main>
  </body>
</html>
